<mat-card>
  <mat-card-title>{{book?.name}}</mat-card-title>
  <mat-card-subtitle>
    <span>{{book?.authors}}</span>
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngIf="book?.numberOfPages" class="data">Number of pages: {{book?.numberOfPages}}</div>
    <div *ngIf="book?.country" class="data">Country: {{book?.country}}</div>
    <div *ngIf="book?.isbn" class="data">ISBN: {{book?.isbn}}</div>
    <div *ngIf="book?.mediaType" class="data">Media type: {{book?.mediaType}}</div>
    <div *ngIf="book?.publisher" class="data">Publisher: {{book?.publisher}}</div>
    <div *ngIf="book?.released" class="data">Released: {{book?.released?.toLocaleString()}}</div>
    <div *ngIf="book?.povCharacters" class="data">POV characters:
      <div *ngFor="let character of book?.povCharacters" class="list-item">
        <a [routerLink]="['/charactersdetails/' + character?.id]"> {{character?.name}}</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>

