/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html {
  background-color: #455357;
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.mat-card {
  color: aliceblue;
  font-family: "Segoe UI";
  width: 50%;
  margin: auto;
  background: rgba(57, 67, 98, 0.55);
}

.mat-card-subtitle {
  letter-spacing: 0.05em;
  font-size: 16px;
  text-align: center;
}

.mat-card-title {
  text-align: center;
}

.mat-divider {
  border-top-color: aliceblue;
}

a {
  color: #a1cfff;
  font-family: "Segoe UI";
  text-decoration: none;
}
a:visited {
  color: #a1cfff;
}
a:hover {
  color: dodgerblue;
}

.first-row {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI";
  color: aliceblue;
  font-size: 16px;
}

.mat-card-content .data{
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Segoe UI";
  color: aliceblue;
  font-size: 16px;
}

.list-item {
  margin-left: 30px;
  font-family: "Segoe UI";
  color: aliceblue;
  font-size: 16px;
}
