.nameInput{
  color: white;
}
.search-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.entity-types {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}




